html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::selection {
  background: $wine;
  color: white;
}

::-moz-selection {
  background: $wine;
  color: white;
}

body {
    font-family: $font-1;
    font-weight: 300;
    font-size: 1rem;
    overflow: scroll;
    overflow-x: hidden;
    background: $colorb;
    color: $colorf;
    width: 100%;
    min-height: 100%;
    line-height: 1.5;
    position: relative;
    display: block;
    min-height: 100vh;
    padding: 0 2rem;
}

a {
  text-decoration: none;
  color: $colorf;
}

.content-wrapper {
  min-height: 80vh;
}
