footer {
    width: 100%;
    padding: 1.25rem 0;
    text-align: center;
    display: flex;
    flex-flow: column;
}
 
.link-text {
    font-weight: 700;
}

#link::after {
    content: "|";
}

#link:last-child::after {
    content: "";
}

footer {
    font-family: $font-1;
    @include hover_a();
}
