header {
    width: 100%;
    max-width: 76em;
    position: relative;
    font-family: $font-1;
    font-size: 1.2rem;
    margin: 1.5rem auto;
    
    .title-container {
      margin-bottom: 1rem;
      h1 {
        border-bottom: 1px solid $colorf;
        margin-bottom: 0.55rem;
      }
    }
    
    nav {
      text-align: right;
      background-color: $wine;
      color: white;
      a {
        color: white;
        background-color: $wine;
      }
    }

    .summary {
      font-family: $font-1;
      font-size: 1rem;
      text-align: right;
      margin-top: 1rem;

      ul {
        list-style-type: none;
        @include hover_a();
      }
    }
  }

blockquote{
    font-family: $font-1;
    font-size: 1rem;
  
    &::after {
      content: "";
    }
    &::before {
      content: "\203A";
    }
  }
  