
$card-width: 300px;
$card-height: 480px;
.project-card {
    width: $card-width;
    height: $card-height;
    overflow: hidden;
    text-align: center;
    padding: 0;
    position: relative;
    margin: 2%;

    img {  
      z-index: 2;
    }

    .title-content {
      text-align: center;
      padding: 1.2rem;
      position: absolute;
      z-index: 100;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #FBF1D1;
      color: $colorf;
      
      .card-title {
        font-weight: 400;
        font-family: $font-1;
        margin-bottom: 0;
        &::before {
          content: "\203A"
        }
        &::after {
          content: "\2039"
        }
      }
    }
}

.showcase {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }