$font-1: 'JetBrains Mono', monospace;

$colorb: #F5F5F5;
$colorf: #101820;
$wine: #D13150;

@mixin hover_a {
    a {
        color: $wine;
        padding: 0;
        &:hover {
          color: white;
          background-color: $wine;
         transition: all 0.35s ease-out;
         transition-property: all 0.35s ease-out;
         -webkit-transition-property: all 0.35s ease-out;
         -moz-transition-property: all 0.35s ease-out;
         -o-transition-property: all 0.35s ease-out;
        }
     }
}

@import "base";
@import "header";
@import "footer";
@import "project_card";
