<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
	{{ partial "head" . }}
	<body>
        {{partial "header" . }}
		<div class="content-wrapper">{{ block "content" . }}{{ end }}</div>
		{{ partial "footer" . }}
	</body>
</html>