{{ define "content" }}
<div class="showcase">
    {{ range .Pages }}
    {{$image := index (.Resources.ByType "image") 0 }}
    {{ if eq .Kind "section"}}
        {{$image = index ((index .Pages 0).Resources.ByType "image") 0}}
    {{ end }}
    {{ $.Scratch.Set "thumbnail" ($image.Fill "300x480 q85 Center") }}
        
    <a class="project-card" href="{{ .Permalink }}">
    <img src="{{ ($.Scratch.Get "thumbnail").RelPermalink }}" alt="{{ partial "get_page_title" . }} gallery."/>
        <div class="title-content">
        <h2 class="card-title">{{ partial "get_page_title" . | lower }}</h2>
        </div>
    </a>
    {{ end }}
</div>
</div>
{{ end }}