<footer>			
	<span class="footer-item">
		{{ range .Site.Params.footer.links.link }}
		<span id="link">
			{{ .prefix }} <a href="{{.url}}"><span class="link-text">{{.name}}</span></a>
		</span>
		{{ end }}
	</span>
	
	<span class="footer-item">
		{{ .Site.Params.footer.footnote }}
	</span>
</footer>