<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">          
	<title>{{ .Site.Title }}</title>
	<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}" />
	<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}" />
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">{{ end }}

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
	
	{{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" />
          
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.4/css/nanogallery2.min.css" integrity="sha512-+2oV2UlL71cEjmYVdlZLMJpS25chnBRkJj48IrthsNmmuIMVvSRUQsdbYEiMGiEGBAKjJZsAQwnDFzbiyx2SnQ==" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.4/jquery.nanogallery2.min.js" integrity="sha512-+Ijx/x+ScQCzLAAbLCL2pbFo8pWdy5YfBHPLJy1CYBt4RSLyo2tr8dnxY1XMug6WCtEhGDreTMTHe+9BHOg2VA==" crossorigin="anonymous"></script>
</head>