<header>

<div class="title-container">
{{ if (eq .Kind "home") }}
    <h1>{{.Site.Title}}</h1>
    <blockquote>{{.Site.Params.description}}</blockquote>
{{ else }}
    <h1>{{ partial "get_page_title" . | title }}</h1>
    {{ with .Params.description }}
    <blockquote>{{.}}</blockquote>
    {{ end}}
{{ end }}
</div>

<nav>
{{ if (eq .Kind "section") }}
<a href="{{ .Site.BaseURL }}">~</a>/{{ replace (partial "get_page_title" .) " " "_" | lower }}
{{ end }}

{{ if and (eq .Kind "page") (ne .Section "") }}

<a href="{{ .Site.BaseURL }}">~</a>/<a href="{{ .Site.BaseURL }}/{{ replace .Section " " "-"}}">{{ replace (partial "get_page_title" (.Site.GetPage "section" .Section)) " " "_" | lower }}</a>/{{ partial "get_page_title" . | lower }}
{{ end }}

{{ if and (eq .Kind "page") (eq .Section "") }}
<a href="{{ .Site.BaseURL }}">~</a>/{{ replace (partial "get_page_title" .) " " "_" | lower }}
{{ end }}
</nav>


{{ if ne .Params.display_summary false }}
<div class="summary">
    <ul>
    {{- if .Params.custom_date -}}<li>
        {{- .Params.custom_date -}}
    {{ if .Params.location }}, {{ .Params.location }}{{ end }}
    </li>
    {{- end -}}
    
    {{ with .Params.artist }}
    <li>{{.}}</li>
    {{ end}}
    
    {{- if .Params.relatedlink -}}
    <li><a href="{{.Params.relatedlink}}">
    {{- if .Params.linktext -}}
        {{- .Params.linktext -}}
    {{- else -}}
        {{- .Params.relatedlink -}}
    {{- end -}}</a></li>
    {{- end -}}
    
    {{ with .Params.copyright }}
    <li>{{.}}</li>{{ end}}
</ul>
{{ end }}

</div>

</header>