{{ if eq .Site.Params.use_custom_ng2_setting true }}
    {{ $nanogallery2_settings := getJSON "ng2_settings.json" | jsonify}}
    <div data-nanogallery2="{{$nanogallery2_settings}}">
{{else}}
    <div data-nanogallery2>
{{ end }}

    {{ range $index, $image := sort (.Resources.ByType "image") }}
    {{ $.Scratch.Set "thumbnail" ($image.Resize "x300") }}
    <a href="{{ $image.RelPermalink }}" data-ngthumb="{{ ($.Scratch.Get "thumbnail").RelPermalink }}">{{$image.Name}}</a>
    [{{ end }}]
</div>